@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
}
.backgroundHero {
  background-image: url('/Users/nantanitlertwittayarat/Documents/CodeCamp11/petcation/src/assets/img/hero.png');
  background-position: center;
}

#tabItem {
  color: #ea580c;
  border-color: #ea580c;
}

#fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/6.4px 6.4px
      no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 6.4px),
    #000 0
  );
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(
      circle closest-side at left 6.7px top 50%,
      #ea580c 90%,
      #0000
    ),
    radial-gradient(circle closest-side, #ea580c 90%, #0000),
    radial-gradient(
      circle closest-side at right 6.7px top 50%,
      #ea580c 90%,
      #0000
    );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: dots-xm0185md 1s infinite alternate;
}

@keyframes dots-xm0185md {
  to {
    width: 22.4px;
    height: 26.9px;
  }
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }
}

/* -------- container ------ */
@layer base {
  h1 {
    @apply font-semibold text-5xl;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-x;
  }

  p {
    @apply text-base;
  }
}
@layer components {
  .mainContainer {
    @apply max-w-7xl px-8 pb-20 mx-auto;
  }

  .btn {
    @apply w-full text-gray-50 text-[16px] normal-case font-normal bg-orange-500 border-0 hover:bg-orange-600 rounded-2xl p-4;
  }
  .btn-outline {
    @apply w-full text-gray-700 text-[16px] normal-case font-normal bg-orange-500/0 hover:bg-gray-50 hover:text-gray-800 border rounded-2xl p-4 border-gray-700;
  }
  .btn-small {
    @apply text-gray-400 bg-gray-100/80 text-[14px] font-normal 
    
    disabled:bg-gray-200 disabled:text-gray-500 

    hover:bg-orange-200/50 hover:text-orange-500  rounded-2xl px-4 py-3 border-0;
  }
  .btn-small-orange {
    @apply text-white bg-orange-500 text-[14px] font-normal 
    
    disabled:bg-orange-200 disabled:text-orange-500 

    hover:bg-orange-200/50 hover:text-orange-500  rounded-2xl px-4 py-3 border-0 gap-3 my-auto;
  }
  .btn-text {
    @apply text-gray-500 text-[14px] font-normal   hover:text-gray-700  rounded-2xl px-4 py-3 border-0;
  }
  .btn-text-line {
    @apply text-gray-500 text-[14px] font-normal   hover:text-gray-700  border-0 underline;
  }
  .btn-circle {
    @apply bg-gray-100 rounded-full border-0 text-[16px];
  }

  .input {
    @apply w-full bg-gray-100 text-gray-500 rounded-2xl block outline-none focus:outline-1 focus:outline-offset-0 mt-1 disabled:text-gray-400 disabled:bg-gray-100 disabled:border-0;
  }
  .inputWhite {
    @apply text-gray-500 outline-none focus:outline-1 focus:outline-offset-0 disabled:text-gray-400 block disabled:bg-gray-100 disabled:border-0;
  }

  .centerAll {
    @apply flex justify-center items-center;
  }

  .line {
    @apply bg-gray-300 w-[1px] h-full;
  }

  /* .checkbox {
    @apply active:bg-orange-200 focus:bg-orange-200 before:bg-orange-200;
  } */
}

body {
  margin: 0;
  font-family: poppins, Prompt;
  background-color: var(--background-color);
  box-sizing: border-box;
  /* color: #111827; */
}
