@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
}
#tabItem {
  color: #ea580c;
  border-color: #ea580c;
}

/* -------- container ------ */
@layer base {
  h1 {
    @apply font-semibold text-5xl;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-x;
  }

  p {
    @apply text-base;
  }
}
@layer components {
  .mainContainer {
    @apply max-w-7xl px-8 pb-20 mx-auto;
  }

  .btn {
    @apply w-full text-gray-50 text-[16px] normal-case font-normal bg-orange-500 border-0 hover:bg-orange-600 rounded-2xl p-4;
  }
  .btn-outline {
    @apply text-gray-700 text-[16px] normal-case font-normal bg-orange-500/0 hover:bg-gray-50 hover:text-gray-800 border rounded-2xl p-4 border-gray-700;
  }
  .btn-small {
    @apply text-gray-500 text-[14px] font-normal bg-gray-100 hover:bg-gray-200 hover:text-gray-500  rounded-2xl px-4 py-3 border-0;
  }
  .btn-text {
    @apply text-gray-500 text-[14px] font-normal   hover:text-gray-700  rounded-2xl px-4 py-3 border-0;
  }
  .btn-circle {
    @apply bg-gray-100 rounded-full border-0 text-[16px];
  }

  .input {
    @apply w-full bg-gray-100 text-gray-500 rounded-2xl block;
  }
  .inputLabel {
    @apply block pb-2;
  }
  /* .checkbox {
    @apply active:bg-orange-200 focus:bg-orange-200 before:bg-orange-200;
  } */
}

body {
  margin: 0;
  font-family: poppins, Prompt;
  background-color: var(--background-color);
  box-sizing: border-box;
  color: #111827;
}
