@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
}

:root {
  --rdp-cell-size: 36px;
  --rdp-accent-color: #f97316;
  --rdp-background-color: #e7edff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #f97316;
  --rdp-background-color-dark: #f97316;
  /* Outline border for focused elements */
  --rdp-outline: none;
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: none;
}

.rdp {
  margin: 1em;
}

/* Hide elements for devices that are not screen readers */
.rdp-vhidden {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
}

/* Buttons */
.rdp-button_reset {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: default;
  color: inherit;
  outline: none;
  background: none;
  font: inherit;

  -moz-appearance: none;
  -webkit-appearance: none;
}

/* .rdp-button {
  border: 2px solid transparent;
} */
/* 
.rdp-button[aria-disabled='true'] {
  opacity: 0.25;
  pointer-events: none;
}

.rdp-button:not([aria-disabled='true']) {
  cursor: pointer;
} */
/* 
.rdp-button:focus,
.rdp-button:active {
  color: inherit;
  border: var(--rdp-outline);
  background-color: var(--rdp-background-color);
}

.rdp-button:hover:not([aria-disabled='true']) {
  background-color: var(--rdp-background-color);
} */

.rdp-months {
  display: flex;
  color: #111827;
}

.rdp-month {
  margin: 0 1em;
}

.rdp-month:first-child {
  margin-left: 0;
}

.rdp-month:last-child {
  margin-right: 0;
}

.rdp-table {
  margin: 0;
  max-width: calc(var(--rdp-cell-size) * 7);
  border-collapse: collapse;
}

.rdp-with_weeknumber .rdp-table {
  max-width: calc(var(--rdp-cell-size) * 8);
  border-collapse: collapse;
}

.rdp-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  text-align: left;
}

.rdp-multiple_months .rdp-caption {
  position: relative;
  display: block;
  text-align: center;
}

.rdp-caption_dropdowns {
  position: relative;
  display: inline-flex;
}

.rdp-caption_label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.25em;
  white-space: nowrap;
  color: currentColor;
  border: 0;
  border: 2px solid transparent;
  font-size: 110%;
  font-weight: 500;
}

.rdp-nav {
  white-space: nowrap;
}

.rdp-multiple_months .rdp-caption_start .rdp-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.rdp-multiple_months .rdp-caption_end .rdp-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.rdp-nav_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0.25em;
  border-radius: 100%;
  color: #535c6b;
}

/* ---------- */
/* Dropdowns  */
/* ---------- */

.rdp-dropdown_year,
.rdp-dropdown_month {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rdp-dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.rdp-dropdown[disabled] {
  opacity: unset;
  color: unset;
}

.rdp-dropdown:focus:not([disabled]) + .rdp-caption_label,
.rdp-dropdown:active:not([disabled]) + .rdp-caption_label {
  border: var(--rdp-outline);
  border-radius: 6px;
  background-color: var(--rdp-background-color);
}

.rdp-dropdown_icon {
  margin: 0 0 0 5px;
}

.rdp-head {
  border: 0;
}

.rdp-head_row,
.rdp-row {
  height: 100%;
}

.rdp-head_cell {
  vertical-align: middle;
  text-transform: None;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
}

.rdp-tbody {
  border: 0;
}

.rdp-tfoot {
  margin: 0.5em;
}

.rdp-cell {
  width: var(--rdp-cell-size);
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
  text-align: center;
}

.rdp-weeknumber {
  font-size: 0.75em;
}

.rdp-weeknumber,
.rdp-day {
  font-size: 14px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--rdp-cell-size);
  max-width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  margin: 0;
  border: 2px solid transparent;
  border-radius: 100%;
}

.rdp-day_today:not(.rdp-day_outside) {
  font-weight: 600;
}

.rdp-day_selected:not([aria-disabled='true']),
.rdp-day_selected:focus:not([aria-disabled='true']),
.rdp-day_selected:active:not([aria-disabled='true']),
.rdp-day_selected:hover:not([aria-disabled='true']) {
  color: white;
  background-color: var(--rdp-accent-color);
}

.rdp-day_selected:focus:not([aria-disabled='true']) {
  border: var(--rdp-outline-selected);
}

.rdp:not([dir='rtl']) .rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdp:not([dir='rtl']) .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp[dir='rtl'] .rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp[dir='rtl'] .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdp-day_range_end.rdp-day_range_start {
  border-radius: 100%;
}

.rdp-day_range_middle {
  border-radius: 0;
}

.backgroundHero {
  background-image: url('./assets/img/hero.png');
  background-size: cover;
  background-position: center;
}

#tabItem {
  color: #ea580c;
  border-color: #ea580c;
}

#fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/6.4px 6.4px
      no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 6.4px),
    #000 0
  );
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(
      circle closest-side at left 6.7px top 50%,
      #ea580c 90%,
      #0000
    ),
    radial-gradient(circle closest-side, #ea580c 90%, #0000),
    radial-gradient(
      circle closest-side at right 6.7px top 50%,
      #ea580c 90%,
      #0000
    );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: dots-xm0185md 1s infinite alternate;
}

@keyframes dots-xm0185md {
  to {
    width: 22.4px;
    height: 26.9px;
  }
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }
}

/* -------- container ------ */
@layer base {
  h1 {
    @apply font-semibold text-5xl;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-x;
  }

  p {
    @apply text-base;
  }
}
@layer components {
  .mainContainer {
    @apply max-w-7xl px-8 pb-20 mx-auto;
  }

  .btn {
    @apply w-full text-gray-50 text-[16px] normal-case font-normal bg-orange-500 border-0 hover:bg-orange-600 rounded-2xl p-4;
  }
  .btn-outline {
    @apply w-full text-gray-700 text-[16px] normal-case font-normal bg-orange-500/0 hover:bg-gray-50 hover:text-gray-800 border rounded-2xl p-4 border-gray-700;
  }
  .btn-small {
    @apply text-gray-400 bg-gray-100/80 text-[14px] font-normal 
    
    disabled:bg-gray-200 disabled:text-gray-500 

    hover:bg-orange-200/50 hover:text-orange-500  rounded-2xl px-4 py-3 border-0;
  }
  .btn-small-orange {
    @apply text-white bg-orange-500 text-[14px] font-normal 
    
    disabled:bg-orange-200 disabled:text-orange-500 

    hover:bg-orange-200/50 hover:text-orange-500  rounded-2xl px-4 py-3 border-0 gap-3 my-auto;
  }
  .btn-text {
    @apply text-gray-500 text-[14px] font-normal   hover:text-gray-700  rounded-2xl px-4 py-3 border-0;
  }
  .btn-text-line {
    @apply text-gray-500 text-[14px] font-normal   hover:text-gray-700  border-0 underline;
  }
  .btn-circle {
    @apply bg-gray-100 rounded-full border-0 text-[16px];
  }

  .input {
    @apply w-full bg-gray-100 text-gray-500 rounded-2xl block outline-none focus:outline-1 focus:outline-offset-0 mt-1 disabled:text-gray-400 disabled:bg-gray-100 disabled:border-0;
  }

  .centerAll {
    @apply flex justify-center items-center;
  }

  .line {
    @apply bg-gray-300 w-[1px] h-full;
  }

  .btn-action {
    @apply text-gray-400  bg-gray-100 rounded-full p-3 hover:bg-gray-200 hover:text-gray-900 active:bg-gray-300;
  }
}

body {
  margin: 0;
  font-family: poppins, Prompt;
  background-color: var(--background-color);
  box-sizing: border-box;
  /* color: #111827; */
}
